*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utilities */
.flex{
    display: flex;
    justify-content: space-between;
}

body{
    background-image: url(./images/bg.jpg);
    background-size: cover; 
    background-position: 50% 60%; /* posiziona in alto a destra */
    min-height: 100vh;
    font-family: 'livvic', sans-serif;
}

.main-title{
    width: 60%;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 30px;
    margin-left: 60px;
    background: linear-gradient(90deg, #038df0, #efba58); /* Gradiente al testo */
    -webkit-background-clip: text; /* Applica il gradiente al testo */
    -webkit-text-fill-color: transparent; /* Rende trasparente il riempimento del testo */
}

/* Container card */

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 60%;
    margin-left: 60px;
}

.card {
    flex: 1 1 calc((100% / 6) - 15px);
    background-color: brown;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 15px 30px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.special{
    flex: 0 0 100%;
    background-color: #dab775;
}

.card:hover {
    transform: scale(1.05);
}

.card.open {
    background-color: rgba(0, 0, 0, 0.5); 
    pointer-events: none; /* Disabilita il clic */
    transform: none; /* Rimuove l'effetto hover */
    box-shadow: none;
}

.icon{
    display: block;
    margin-bottom: 10px;
}

.number{
    display: block;
}


/* Modale */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    background-color: brown;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    padding: 30px;
}

.modal-content {
    position: relative;
    color: white;
}

.close-btn {
    position: absolute;
    top: -25px;
    right: -20px;
    font-size: 24px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Modale di base nascosto */
.hidden {
    display: none;
}

/* Tasto per il reset */
.reset-button {
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 70px;
    margin: 40px 20px;
}

.reset-button:hover {
    background-color: darkred;
}

